.AuthoContainer{
	width:780px;
	height:890px;
	padding:40px;
	padding-right:20px;

	overflow:hidden;

	border:1px white solid;
	

	font-size:21px;
	color:white;
	text-align: left;
	margin:0;
}
.AuthoText{
	overflow-y:scroll;
	padding-right:40px;
	height:100%;
}
.AuthoText>p{
	margin-top:0px;
	margin-bottom: 20px;
}
.AuthoTitle{
	font-size:24px;
	font-weight: bold;
}
#_input_watch_code{
	text-transform: uppercase;
}
#_watch_qrcode_container{
	position:absolute;
	bottom:265px;	
	width:180px;
	height:180px;
	background-image: url('../../asset/img/btn/qrcode-06.png');
}
#_watch_qrcode{
	position: absolute;
	left:45px;
	bottom:15px;
	
	width:80px;
	height:80px;	

	padding:5px;
	background-color: white;
}
#_button_make_record{
	position: absolute;
	bottom:120px;
}

#_record_ready_countdown{
	font-size: 143px;
	color:white;
}
#_record_countdown{
	font-size: 36px;
	color:white;
	position: absolute;
	top:40px;
	right:40px;
	width:100px;
	height:100px;
}
#_record_countdown_number{
	position: absolute;
	top: 28px;

	z-index: 20;    
    text-align: center;
    width: 100%;
}
#_record_ready_text{
	z-index: 20;
}
#_record_qrcode{
	position: absolute;
	top:730px;
	left:420px;
	
	width:180px;
	height:180px;

	padding: 20px;
	background-color: white;

}
#_record_code{
	position: absolute;
	
	left:598px;
	top:627px;

	width:220px;
	height:50px;

	font-size: 56px;
	color:white;
}

#_loading_text{
	font-size:36px;
	color:white;
}
#_loading_percent{
	font-size:48px;
}
/*#_back_loading{
	width: 100%;
	height: 100%;
	background-image: url('../../asset/seq/Downloading/downloading_00000.png');
}*/

.blink{
	animation: blinker 1.2s ease-in-out infinite;
}
@keyframes blinker {
  50% {
    opacity: 0%;
  }
}

.LoadingCircle{
  transform: rotate(-90deg);
  stroke-dasharray: 352; /* (2PI * 40px) */
  stroke-dashoffset: 352;
  animation: offsettozero 30s linear forwards;
}
@keyframes offsettozero {
  to {
    stroke-dashoffset: 0;
  }
}

.VideoControl{
	width: 940px;
	height:60px;
	background-color:white;
}
/*.progress{
	position: relative;
	top:22.5px;
	left:20px;
	width:810px;
	height:10px;
	background-color:#CF626A;
	cursor:pointer;
}
.progress-bar{
	width:0px;
	height:10px;
	background-color:#BB1A28;	
}
.progress-thumb{
	position: absolute;
	width: 20;
	width:15px;
	height: 15px;
	border-radius: 50%;
	border:1px #BB1A28 solid
	background-color:#BB1A28;	
}*/
.VideoTime{
	float:right;
	margin-right:20px;
	margin-top:10px;
	font-size:28px;
	color:#BB1A28;
}

/*.ProgressBar::-webkit-slider-thumb:before{
  left: -1997px;
  background-color:#BB1A28;
}
.ProgressBar::-webkit-slider-thumb:after {
  left: 10px;
  background-color:#CF626A;
}*/

.CheckCircle{
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #BB1A28;
  stroke-miterlimit: 10;
  margin:auto;
}

.CheckMark{
  transform-origin: 50% 50%;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
.ProgressContainer{
	position: relative;
	left:0;
	right:0;
	height:60px;
}
input[type=range] {
  position: absolute;
  top:19px;
  left:20px;
  height: 20px;  
  width: 810px;
  background:transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: none;
}
input[type=range]::-webkit-slider-thumb {
  border:none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #BB1A28;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}
/*input[type="range"]::-webkit-slider-thumb:before{
  left: -1997px;
  background: #BB1A28;
}
input[type="range"]::-webkit-slider-thumb:after {
  left: 10px;
  background: #CF626A;
}*/
.ProgressBarTrack{
	margin-top:5px;
	height:10px !important;;
	 background:#CF626A !important;
	 pointer-events: none;
}

.ProgressBarTrack::-webkit-slider-runnable-track {
	background: #CF626A;
	overflow: hidden;
}  

.ProgressBarTrack::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: transparent;
	height: 1px;
	width: 1px;
	box-shadow: -1000px 0 0 1000px #BB1A28;
}
.ProgressBarThumb{
	margin-top: -3px;
	width: 820px !important;
    left: 14px !important;
}