.CountdownWrapper {
  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute; /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */

  /*base*/
  animation-iteration-count: 1;  /* Only run once */
  animation-fill-mode: forwards; /* Hold the last keyframe */
  animation-timing-function:linear; /* Linear animation */
}
.CountdownWrapper.Anim{
  animation-duration: 0.01s; /* Complete keyframes asap */
  animation-delay: 15s; /* Wait half of the animation */
  animation-name: close-wrapper; 
}
/* Set the sizes of the elements that make up the progress bar */
.CountdownCircle {
  width: 90px;
  height: 90px;
  border: 5px solid white;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}


.CountdownCircle.LeftAnim{
  animation-duration: 30s; /* Full animation time */
 animation-name: left-spin;
}
.CountdownCircle.RightAnim{

  animation-duration: 15s; /* Half animation time */
  animation-name: right-spin;
}

/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}
